<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://nlog.org/schema/NLog.xsd">
  <targets>
    <!-- Consola para mostrar los logs -->
    <target name="logconsole" xsi:type="Console" layout="${longdate} ${level} ${message} ${exception}" />
  </targets>

  <rules>
    <!-- Registra los logs de nivel "Error" hacia la consola -->
    <logger name="*" minlevel="Error" writeTo="logconsole" />
  </rules>
</configuration>
